VITE_API_URL="https://jsonplaceholder.typicode.com/"
VITE_APP_NAME="React TS"
# Set to "false" to disable MSW in development
# VITE_ENABLE_MSW=false

# Users feature data mode
# - VITE_USERS_MODE: "http" | "mock" | "http+mock"
# - When VITE_USERS_MODE="http+mock", VITE_USERS_HTTP_ENABLED decides whether to use HTTP (true) or mock (false)
VITE_USERS_MODE="http+mock"
VITE_USERS_HTTP_ENABLED="false"