import { useMutation, useQueryClient } from '@tanstack/react-query'

import { unwrapResponse } from '@/shared/lib/response'
import { {{FEATURE}}_QUERY_KEYS } from '../constants/{{feature}}-query-key'
import { get{{Feature}}Repository } from '../services/{{feature}}.factory'
import type { {{Feature}}FormValues } from '../types/{{feature}}-form.type'

export function useUpdate{{Feature}}(id: string) {
  const queryClient = useQueryClient()
  return useMutation({
    mutationFn: async (data: {{Feature}}FormValues) =>
      unwrapResponse(await get{{Feature}}Repository().update(id, data)),
    onSuccess: async () => {
      await Promise.all([
        queryClient.invalidateQueries({ queryKey: {{FEATURE}}_QUERY_KEYS.lists() }),
        queryClient.invalidateQueries({ queryKey: {{FEATURE}}_QUERY_KEYS.detail(id) })
      ])
    }
  })
}
