export const {{FEATURE}}_ROUTES = {
  list: '/{{featurePlural}}',
  create: '/{{featurePlural}}/create',
  edit: (id: string) => `/{{featurePlural}}/${id}/edit`
} as const

export const {{FEATURE}}_MODAL_STATE = {
  create: { modal: 'create' } as const,
  edit: ({{featureCamel}}Id: string) => ({ modal: 'edit', {{featureCamel}}Id }) as const
} as const

export type {{Feature}}ListModalState =
  | typeof {{FEATURE}}_MODAL_STATE.create
  | ReturnType<typeof {{FEATURE}}_MODAL_STATE.edit>
